html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
}

h1 {
  font-family: 'helvetica', 'arial', 'sans';
  font-size: 50px;
  }

h2 {
  font-family: 'helvetica', 'arial', 'sans';
  font-size: 36px;
  }

h3 {
  font-family: 'helvetica', 'arial', 'sans';
  font-size: 30px;
  }

h4 {
  font-family: 'helvetica', 'arial', 'sans';
  font-size: 26px;
  }


a {
  color: #000;
}

.header {
  background: #fff;
  color: #000;
  padding: 30px 30px 30px;
}




.assignments {
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 550px;
  float: left;
}

.assignment {
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 250px;
  float: left;
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}
